## .NET
bin/
obj/
*.user
*.suo
*.vs/
.vs/
*.DotSettings.user

## Source Generator output
**/generated/

## macOS
.DS_Store
*.swp
*~.nib

## NuGet
*.nupkg
packages/

## Rider
.idea/

## VS Code
.vscode/
artifacts/
